# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local

# SQLite
*.sqlite
*.sqlite3
/db/*.sqlite
/db/*.sqlite3

# Build / dist
dist/
build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Coverage
coverage/

# Temporary
tmp/
temp/

exportaciones